body {
  font-family: sans-serif;
  background-color: #EB7C7C;
}


figcaption {
  font-size: 15px;
  margin-bottom: 20px;
}

table{
  border-collapse: collapse;
}



th,td{
  border: 1px solid black;
  padding: .2em 1em .2em .5em;
  text-align: left;
  vertical-align: middle;
}

tbody tr:nth-child(odd) td{background-color: #EB7C7C;}
tbody tr:nth-child(even) td{background-color: #DE3535;}


.myPic {
  height: 400px;
  width: 500px;
}

.myLinks {
  font-size: 20px;
  color: Black;
}

.myLinks:hover {
  color: #DE3535;
}


header{
  background-color: #DE3535;
}

form{
  background-color: #829CD0;
  border-radius: 200px;
  text-align: center;
}



.myButton{
  background-color: #DE3535;
  color: #829CD0;
}

input:required{
  color: Red;
}




.valid{
  text-align: center;
}

.interactions{
  text-align: center;
  background-color: #FFC49B;
  font-family: Comic Sans MS;
}

.interactions_h1{
  background-color: white;
}

#intro{
  color: red;
}




.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);

}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color:rgba(93, 93, 93, .75);
}

.calculator-grid > button:hover {
  background-color: Black;
  color: White;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(130, 156, 208, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current {
  color: white;
  font-size: 2.5rem;
}

.h1-text{
  font-size: 50px;
}

.end{
  background-color: red;
}
