body {
  font-family: sans-serif;
  background-color: #EB7C7C;
}


figcaption {
  font-size: 15px;
  margin-bottom: 20px;
}

table{
  border-collapse: collapse;
}



th,td{
  border: 1px solid black;
  padding: .2em 1em .2em .5em;
  text-align: left;
  vertical-align: middle;
}

tbody tr:nth-child(odd) td{background-color: #EB7C7C;}
tbody tr:nth-child(even) td{background-color: #DE3535;}


.myPic {
  height: 400px;
  width: 500px;
}

.myLinks {
  font-size: 20px;
  color: Black;
}

.myLinks:hover {
  color: #DE3535;
}


header{
  background-color: #DE3535;
}

form{
  background-color: #829CD0;
  border-radius: 200px;
  text-align: center;
}



.myButton{
  background-color: #DE3535;
  color: #829CD0;
}

input:required{
  color: Red;
}




.valid{
  text-align: center;
}

.interactions{
  text-align: center;
  background-color: #FFC49B;
  font-family: Comic Sans MS;
}

.interactions_h1{
  background-color: white;
}

#intro{
  color: red;
}


.container{
  max-width: 400px;
  margin:10vh auto 0 auto;
  background-color: white;
  border-radius: 10px;
}

#display{
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons{
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div{
  border-top: 1px solid #999;
  border-right:  1px solid #999;
}

.button{
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal{
  background-color: Blue;
  color: White;
}

.button:hover{
  background-color: black;
  color: white;
}
